@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0rem auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(4.375rem, 1.875rem);
  min-height: 9.375rem;
}


.img-logo {
  max-height: 2.75rem;
  width: auto;
}
