<div fxFlex="40" class="search-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Select city to know the weather</h1>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image />
    <mat-card-content>
      <form class="form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>City</mat-label>
          <input type="text" placeholder="Pick one" aria-label="City" matInput [formControl]="myControl"
            [matAutocomplete]="auto" />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectOption($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div *ngIf="currentWeather?.meteorology?.meteorology">
        <mat-divider></mat-divider>
        <div fxFlex="100" *ngIf="currentWeather">
          <h2>Info about city</h2>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div mat-line>
                City:
                {{ currentWeather?.meteorology?.meteorology?.name }}
              </div>
              <div mat-line>
                Visibility:
                {{ currentWeather?.meteorology?.meteorology?.visibility }}
              </div>
              <div mat-line *ngFor="
                  let weather of currentWeather?.meteorology?.meteorology
                    ?.weather
                ">
                Description:
                {{ weather.description }}
              </div>
              <div mat-line>
                Temperature:
                {{ currentWeather?.meteorology?.meteorology?.main?.temp }}
              </div>
              <div mat-line>
                Feels Like:
                {{ currentWeather?.meteorology?.meteorology?.main?.feels_like }}
              </div>
              <div mat-line>
                Humidity:
                {{ currentWeather?.meteorology?.meteorology?.main?.humidity }}
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-divider></mat-divider>
      <button mat-button (click)="randomCity()">Random city</button>
    </mat-card-actions>
  </mat-card>
</div>
