<div>
  <div>
    <h1>We have an error</h1>

    <img src="/assets/image/error.png" class="img-error" />

    <p>We are experimenting some issues.</p>
    <p>In this case was : {{ data }}</p>
  </div>
</div>
