@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;

}

.container {
  margin: 1.25rem;
  display: flex;
}

app-weather-home {
  justify-content: center;
  margin-top: 4rem;
}
